/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* GENERAL */
.container{
  max-width: 1170px;
  width: 80%;
  margin: 0px auto;

}

.description{
margin: 3px 0;
}

p{
    color: grey;
    font-size: 10px;
}

h4{
    font-size: 18px;
}

.color{
    color: red;
    font-size: 14px;
}
.flex{
    display: flex;
}
/*HEADER */

header{
    padding: 16px 0;
    background-color: #FF6900;
    position: fixed;
    width: 100%;
    z-index: 2;

}

header > .container{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    
}

.logo{
    color: white;
}

.main-nav{
    width: 33%;
    line-height: 44px;
    
}

.personal-area{
    width: 33%;
    color: white;
    text-align: right;
    line-height: 44px;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    line-height: center;
}

.main-nav ul a {
    text-decoration: none;
    color: white;
}

.logo > img {
    max-width: 130px;
}

i{
    padding: 0 5px;
}

/* MAIN */
main{
    padding-top: 48px;
}

.container > .row{
    justify-content: space-between;
    padding: 48px 0;
}

.colmn > img{
    max-width: 100%;
    max-height: 100%;
}

.colmn:hover .img-one{
    display: none;
}

.img-two{
    display: none;
}

.colmn:hover .img-two{
    display: inline;
}

.colmn{
    width: calc(100% / 3 - 16px);
    position: relative;

}
.row{
    margin: 40px 0;
    display: flex;
    gap: 5px;
}

.discount{
    background-color: red;
    padding: 3px 6px;
  
}

.sost{
    background-color: green;
    padding: 3px 6px;
    
    
}
.square{
        width: 48px;
        height: 48px;
        background-color: white;
        position: absolute;
        right: 0;
        top: 10px;
        justify-content: center;
        align-items: center;
}

.square > div{
    font-size: 24px;
}

.square:hover{
    color: red;
}

.labels{
    color: white;
    font-size: 13px;
    position: absolute;
    left: 0;
    bottom: 98px;
}
.line{
    text-decoration: line-through;
    color: black;
    margin-left: 5px;

}

/* FOOTER */

footer{
    background-color: #1B1B1B;
    color: white;
    padding: 16px 0;
}

footer>.container{
    justify-content: space-between;
}

.legal{
    width: calc(70%/2);
}

.society{
    padding-bottom: 8px;
}

.legal_info{
    font-size: small;
    gap: 5%;
    display: flex;
    color: gray;
}
.social>div{
    font-size: small;
    padding-bottom: 16px;
}
.icon{
    justify-content: space-between;
    gap: 16px;
}
